.main {
  display: flex;
  flex-direction: column;
  justify-content: packed;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: #040a19;
}

.buttonCustom {
  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.insetButtonOuterSlate1 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    var(--slate1),
    var(--slate1)
  );
  padding: 2px;
  border-radius: 100px;
  height: 42px;
}

.insetButtonInnerSlate1 {
  background: var(--slate1);
  padding: 10px 16px;
  border-radius: 100px;
}

.heroImageContainer {
  /* Dataland Hero Holder */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px;
  gap: 6px;

  /* position: absolute;
  width: 1065.04px;
  height: 524.96px;
  left: -6.03px;
  top: -5.99px; */

  /* Glassy */

  background: linear-gradient(
    104.81deg,
    #03285e 0.42%,
    #190e5b 22.11%,
    #24135c 52.05%,
    #32185d 80.44%,
    #4f1854 97.48%
  );
  /* box-shadow: 0px 4px 10px #23135c; */

  /* borders */
  border-radius: 8px;
}

.heroImageContainerOuter {
  box-sizing: border-box;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px;

  background: linear-gradient(
    104.81deg,
    rgba(0, 109, 255, 1) 0.42%,
    rgba(67, 21, 243, 1) 22.11%,
    rgba(113, 41, 249, 1) 52.05%,
    rgba(141, 55, 253, 1) 80.44%,
    rgba(253, 55, 221, 1) 97.48%
  );

  /* borders */
  border-radius: 9px;

  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.6);

  transform-style: preserve-3d;
  animation: heroLoadIn 2s ease-in-out;
  /* animation-delay: 1000ms; */
  transform-origin: center center;

  box-shadow: rgba(255, 255, 255, 1.2);
}

.rayOfLightTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 8px;
  background-image: linear-gradient(90deg, transparent, white, transparent);
  mix-blend-mode: overlay;
  animation: ray-of-light-top 4s infinite linear;
}

.rayOfLightBottom {
  position: absolute;
  top: 520px;
  left: 0;
  width: 240px;
  height: 7px;
  background-image: linear-gradient(90deg, transparent, white, transparent);
  mix-blend-mode: overlay;
  animation: ray-of-light-bottom 4s infinite linear;
}

.perspectiveDiv {
  perspective: 1000px;
}

.heroTextContainer {
  /* // add keyframe for fade in from bottom after 2 seconds */
  /* // add keyframe for fade out to bottom after 2 seconds */
  animation: fadeInFromBottom 0.4s ease-in-out;
  animation-delay: 1800ms;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes ray-of-light-top {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  2% {
    opacity: 0;
  }
  13% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translate(calc(1086px - 10px), 0);
    opacity: 0;
  }
}

@keyframes ray-of-light-bottom {
  0% {
    transform: translate(calc(1086px - 10px), 0);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes heroLoadIn {
  0% {
    top: 40px;
    transform: rotateX(45deg);
    opacity: 0.2;
    scale: 1;
  }
  30% {
    top: -10px;
    transform: rotateX(45deg);
    scale: 1.01;
    opacity: 1;
  }
  35% {
    top: 0;
    transform: rotateX(45deg);
    opacity: 1;
    scale: 1;
  }
  50% {
    top: 0;
    transform: rotateX(45deg);
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 1;
    top: 0;
    transform: rotateX(0);
    scale: 1;
  }
}

@keyframes fadeInFromBottom {
  from {
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
}
